[Unit]
Description=Blog Access Log Processor

[Service]
Type=oneshot
User=root
WorkingDirectory=/var/www/vuepress-blog
ExecStart=/var/www/vuepress-blog/scripts/process_blog_access.sh
StandardOutput=journal
StandardError=journal