[Unit]
Description=Blog Access Log Processor

[Service]
Type=oneshot
User=bloglog
WorkingDirectory=/var/www/vuepress-blog
ExecStart=/var/www/vuepress-blog/scripts/process-blog-access.sh
StandardOutput=journal
StandardError=journal